.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






/*
This part is for movie details page
*/
.movie-details {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.poster {
  flex: 0 0 200px;
  margin-right: 20px;
}

.poster img {
  width: 100%;
  height: auto;
}

.info {
  flex: 1;
}

.info h2 {
  margin-top: 0;
}

.info p {
  margin: 0;
  line-height: 1.5;
}